In [79]:
import numpy as np
import pandas as pd
import os
import jinja2

In [80]:
path = '../datasets/FBref/WC_2019'

In [81]:
keeper = []

In [82]:
for root, dirs, files in os.walk(path):
    for file in files:
        if 'keeper' in file:
            file_path = os.path.join(root, file)
            df = pd.read_csv(file_path, skiprows = 1)
            df['Team'] = file.split()[0]
            keeper.append(df)

In [83]:
combined_keep = pd.concat(keeper, ignore_index = True)

In [84]:
combined_keep.head(5)

,Player,Age,Min,SoTA,GA,Saves,Save%,PSxG,Cmp,Att,...,AvgLen,Att.2,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,Team
0,Sari van Veenendaal,29-095,90,10,2,8,90.0,2.7,2,16,...,42.7,8,75.0,41.4,16,1,6.3,3,18.5,Netherlands
1,Alyssa Naeher,31-078,90,1,0,1,100.0,0.0,4,13,...,38.9,5,100.0,54.2,6,0,0.0,2,19.3,USA
2,Karen Bardsley,34-256,90,3,0,3,100.0,1.0,4,9,...,33.5,7,71.4,40.4,6,0,0.0,0,8.3,England
3,Ingrid Hjelmseth,39-078,90,6,3,2,50.0,3.0,1,3,...,23.8,11,18.2,27.5,14,0,0.0,2,16.6,Norway
4,Sarah Bouhaddi,32-254,90,8,2,6,75.0,1.7,5,12,...,37.4,4,75.0,42.5,5,0,0.0,5,27.6,France

In [85]:
grouped_keeper = combined_keep[['Player', 'SoTA', 'GA']].groupby('Player').sum()

In [86]:
keeper_game_count = combined_keep['Player'].value_counts()

In [87]:
grouped_keeper['Games'] = keeper_game_count

In [88]:
grouped_keeper.reset_index(inplace = True)

In [89]:
grouped_keeper['NSPG'] = grouped_keeper.apply(lambda row: (row['SoTA']-row['GA'])/row['Games'], axis = 1)

In [90]:
grouped_keeper = pd.merge(grouped_keeper, combined_keep[['Player', 'Team']].drop_duplicates(), on='Player',how = 'left')

In [91]:
grouped_keeper.sort_values(by = 'NSPG', ascending = False)

                 Player  SoTA  GA  Games  NSPG         Team
11       Lydia Williams     8   1      1  7.00    Australia
10       Laura Giuliani    15   2      2  6.50        Italy
14       Sarah Bouhaddi    15   3      2  6.00       France
15  Sari van Veenendaal    21   3      4  4.50  Netherlands
5         Carly Telford    11   4      2  3.50      England
0         Almuth Schult     8   2      2  3.00      Germany
12         Peng Shimeng     5   2      1  3.00        China
8      Ingrid Hjelmseth    10   4      2  3.00       Norway
3       Ayaka Yamashita     5   2      1  3.00        Japan
7        Hedvig Lindahl    14   3      4  2.75       Sweden
9        Karen Bardsley     5   0      2  2.50      England
1         Alyssa Naeher    11   3      4  2.00          USA
6     Chiamaka Nnadozie     4   3      1  1.00      Nigeria
4               BÃ¡rbara     3   2      1  1.00       Brazil
16      Stephanie LabbÃ©     2   1      1  1.00       Canada
13         Sandra PaÃ±os     2   2      1  0.00        Spain
2      Annette Ngo Ndom     3   3      1  0.00     Cameroon

In [92]:
summary = []

In [93]:
for root, dirs, files in os.walk(path):
    for file in files:
        if 'summary' in file:
            file_path = os.path.join(root, file)
            df = pd.read_csv(file_path, skiprows = 1)
            df = df.iloc[:-1] 
            df['Team'] = file.split('-')[0]
            summary.append(df)

In [94]:
combined_summary = pd.concat(summary, ignore_index = True)

In [95]:
combined_summary.head(20)

,Player,#,Pos,Age,Min,Gls,Ast,PK,PKatt,Sh,...,GCA,Cmp,Att,Cmp%,PrgP,Carries,PrgC,Att.1,Succ,Team
0,Lineth Beerensteyn,21.0,FW,22-269,90,0,0,0,0,1,...,0.0,8.0,12.0,66.7,0.0,13.0,1.0,2.0,1.0,Netherlands
1,Lieke Martens,11.0,LW,26-203,69,0,0,0,0,0,...,0.0,12.0,24.0,50.0,3.0,14.0,1.0,3.0,2.0,Netherlands
2,Jill Roord,19.0,"AM,LW",22-076,21,0,0,0,0,2,...,0.0,9.0,11.0,81.8,2.0,10.0,0.0,1.0,1.0,Netherlands
3,DaniÃ«lle van de Donk,10.0,"RW,WB",27-336,90,0,0,0,0,0,...,0.0,19.0,35.0,54.3,0.0,30.0,1.0,2.0,1.0,Netherlands
4,Vivianne Miedema,9.0,"AM,FW",22-357,90,0,0,0,0,0,...,0.0,16.0,24.0,66.7,3.0,12.0,3.0,5.0,2.0,Netherlands
5,Sherida Spitse,8.0,"DM,CM",29-039,90,0,0,0,0,2,...,0.0,32.0,47.0,68.1,3.0,25.0,0.0,1.0,1.0,Netherlands
6,Jackie Groenen,14.0,"DM,CM",24-202,90,0,0,0,0,0,...,0.0,28.0,38.0,73.7,8.0,28.0,1.0,5.0,1.0,Netherlands
7,Dominique Janssen,20.0,"LB,CB",24-171,90,0,0,0,0,0,...,0.0,35.0,52.0,67.3,4.0,24.0,3.0,2.0,1.0,Netherlands
8,Stefanie van der Gragt,3.0,CB,26-325,90,0,0,0,0,0,...,0.0,26.0,35.0,74.3,2.0,19.0,0.0,0.0,0.0,Netherlands
9,Anouk Dekker,6.0,CB,32-234,72,0,0,0,0,0,...,0.0,23.0,26.0,88.5,1.0,15.0,0.0,0.0,0.0,Netherlands
10,Shanice van de Sanden,7.0,WB,26-278,18,0,0,0,0,0,...,0.0,1.0,1.0,100.0,0.0,2.0,0.0,0.0,0.0,Netherlands
11,Desiree van Lunteren,2.0,"RB,CB",26-189,90,0,0,0,0,0,...,0.0,33.0,61.0,54.1,2.0,20.0,0.0,1.0,1.0,Netherlands
12,Sari van Veenendaal,1.0,GK,29-095,90,0,0,0,0,0,...,0.0,11.0,28.0,39.3,0.0,16.0,0.0,0.0,0.0,Netherlands
13,Alex Morgan,13.0,"FW,RW",30-005,90,0,0,0,0,5,...,1.0,11.0,23.0,47.8,2.0,23.0,3.0,2.0,0.0,USA
14,Megan Rapinoe,15.0,LW,34-002,78,1,0,1,1,0,...,0.0,28.0,41.0,68.3,5.0,27.0,4.0,6.0,1.0,USA
15,Christen Press,23.0,LW,30-190,12,0,0,0,0,1,...,0.0,6.0,8.0,75.0,0.0,5.0,0.0,0.0,0.0,USA
16,Tobin Heath,17.0,RW,31-039,86,0,0,0,0,2,...,0.0,24.0,38.0,63.2,1.0,27.0,5.0,5.0,3.0,USA
17,Carli Lloyd,10.0,FW,36-356,4,0,0,0,0,1,...,0.0,0.0,0.0,NaN,0.0,5.0,1.0,1.0,0.0,USA
18,Sam Mewis,3.0,"LM,CM",26-271,90,0,1,0,0,2,...,1.0,20.0,34.0,58.8,4.0,23.0,2.0,1.0,0.0,USA
19,Julie Ertz,8.0,"CM,CB",27-092,90,0,0,0,0,2,...,0.0,24.0,35.0,68.6,5.0,17.0,1.0,0.0,0.0,USA

In [96]:
game_count = combined_summary['Player'].value_counts()

In [98]:
grouped_goals = combined_summary[['Player', 'Gls']].groupby('Player').sum()

grouped_goals['Games'] = game_count

grouped_goals.reset_index(inplace = True)

grouped_goals['Goals/game']= (grouped_goals['Gls']/grouped_goals['Games']).round(2)

grouped_goals = pd.merge(grouped_goals, combined_summary[['Player', 'Team']].drop_duplicates(), on='Player',how = 'left')

grouped_goals = grouped_goals.rename(columns= {'Gls':'Goals'})

grouped_goals.sort_values(by = 'Goals/game', ascending = False).head(10).style.background_gradient(subset = ["Goals/game"], 
                             cmap = "Blues")

In [68]:
grouped_goals.sort_values(by = 'Gls', ascending = False).head(10)

                 Player  Gls  Games  Goals/game         Team
168       Megan Rapinoe    5      3        1.67          USA
69          Ellen White    3      4        0.75      England
216  Stina Blackstenius    2      4        0.50       Sweden
209     Sofia Jakobsson    2      4        0.50       Sweden
139       Lieke Martens    2      4        0.50  Netherlands
104      Jackie Groenen    1      4        0.25  Netherlands
112          Jill Scott    1      4        0.25      England
30         Aurora Galli    1      2        0.50        Italy
150         Lucy Bronze    1      4        0.25      England
221              Thaisa    1      1        1.00       Brazil

In [69]:
grouped_touches = combined_summary[['Player', 'Touches']].groupby('Player').sum()

grouped_touches['Games'] = game_count

grouped_touches.reset_index(inplace = True)

grouped_touches['Touches/game']= (grouped_touches['Touches']/grouped_touches['Games']).round(2)

grouped_touches = pd.merge(grouped_touches, combined_summary[['Player', 'Team']].drop_duplicates(), on='Player',how = 'left')

grouped_touches.sort_values(by = 'Touches/game', ascending = False).head(10).head(10).style.background_gradient(subset = ["Touches/game"], 
                             cmap = "Blues")

In [99]:
grouped_pass = combined_summary[['Player', 'Cmp']].groupby('Player').sum()

grouped_pass['Games'] = game_count

grouped_pass.reset_index(inplace = True)

grouped_pass['Passes/game']= (grouped_pass['Cmp']/grouped_pass['Games']).round(2)

grouped_pass = pd.merge(grouped_pass, combined_summary[['Player', 'Team']].drop_duplicates(), on='Player',how = 'left')

grouped_pass = grouped_pass.rename(columns= {'Cmp':'Completed Passes'})

grouped_pass.sort_values(by = 'Passes/game', ascending = False).head(10).head(10).style.background_gradient(subset = ["Passes/game"], 
                             cmap = "Blues")

In [71]:
defence = []

In [72]:
for root, dirs, files in os.walk(path):
    for file in files:
        if 'defensive' in file:
            file_path = os.path.join(root, file)
            df = pd.read_csv(file_path, skiprows = 1)
            df = df.iloc[:-1] 
            df['Team'] = file.split('-')[0]
            defence.append(df)

In [73]:
combined_defence = pd.concat(defence, ignore_index = True)

In [100]:
grouped_defence = combined_defence[['Player', 'TklW']].groupby('Player').sum()

grouped_defence['Games'] = game_count

grouped_defence.reset_index(inplace = True)

grouped_defence['Tackle/game']= (grouped_defence['TklW']/grouped_defence['Games']).round(2)

grouped_defence = pd.merge(grouped_defence, combined_defence[['Player', 'Team']].drop_duplicates(), on='Player',how = 'left')

grouped_defence = grouped_defence.rename(columns= {'TklW':'Tackle Won'})

grouped_defence.sort_values(by = 'Tackle/game', ascending = False).head(10).head(10).style.background_gradient(subset = ["Tackle/game"], 
                             cmap = "Blues")

In [274]:
#save for tableau
grouped_keeper.to_csv('../Datasets/cleaned_data/2019/grouped_keeper.csv', index = False)

In [275]:
grouped_goals.to_csv('../Datasets/cleaned_data/2019/grouped_goals.csv', index = False)

In [276]:
grouped_touches.to_csv('../Datasets/cleaned_data/2019/grouped_tounches.csv', index = False)

In [277]:
grouped_pass.to_csv('../Datasets/cleaned_data/2019/grouped_pass.csv', index = False)

In [278]:
grouped_defence.to_csv('../Datasets/cleaned_data/2019/grouped_defence.csv', index = False)